:root {
  --blue: rgba(29, 173, 235, 1);
  --purple: rgba(137, 149, 250, 1);
  --pink: rgba(229, 109, 212, 1);
  --red: rgba(255, 68, 128, 1);
  --orange: rgba(255, 68, 128, 1);
}

html {
  font-family: -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  cursor: url(./point.png), auto;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.colorshift {
  background: repeating-linear-gradient(
      -45deg,
      rgb(0, 84, 253) 0%,
      rgb(255, 25, 247) 7.14%,
      rgb(255, 46, 93) 14.28%,
      rgb(255, 170, 7) 21.42%,
      rgb(255, 170, 7) 28.56%,
      rgb(255, 46, 93) 35.7%,
      rgb(255, 25, 247) 42.84%,
      rgb(0, 84, 253) 50%
    )
    0% 0% / 400vw 400vw;
}

.rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

a {
  color: black;
  text-decoration: none;
}

.contact {
  display: block;
  font-size: calc(2rem + 4vw);
}

@media (min-width: 1200px) {
  .contact {
    font-size: 4rem;
  }
}

form {
  display: flex;
  background: #fff;
  border-radius: 99999px;
  padding: .5rem .5rem .5rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

input {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  flex: 1;
  margin: 0 .5rem;
  border: none;
  font-size: 1rem;
  outline: none;
}

button {
  border-radius: 99999px;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1.5rem;
  width: 3rem;
  border: none;
  outline: none;
  background-color: #000;
}

button:focus {
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 1);
}